/*--------------------------------------------------COULEURS GENERALES------------------------------------------------------*/
#blue {
 background-color: #1565C0;
}
#brown {
  background-color : tan;
}

#red {
    background-color : red;
}
#yellow {
    background-color : yellow;
}

#orange{ 
    background-color : #eb692e;
}

#white { /*creme*/
    background-color : #f7f6c8;
}

#right {
  float : right;
}

#black{
    background-color : black;
}

/*--------------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------CARACTERISTIQUES DES BANIERES HTML------------------------------------------------------*/
.centre{
  text-align: center;
  flex: 1 1 auto;
}


body {
    color: black;
    background-color: #f7f6c8;
}

i {
  color : black;
}

md-content {
  background: transparent;
}

/* When the input is not focused 
md-input-container label {
  color: red;
}*/

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color:  #eb692e;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color:  #eb692e;
}
/*----------------------------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------ARBORESCENCE---------------------------------------------------------------*/
  @media only screen and (max-width: 736px) {
    .mobile {
      display: block;
    }
    .desktop {
      display: none;
    }
    .tablet {
      display: none;
    }
  }
  
  @media only screen and (min-width: 736px) and (max-width: 1200px) {
    .tablet {
      display: block;
    }
    .desktop {
      display: none;
    }
    .mobile {
      display: none;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .desktop {
      display: block;
    }
    .tablet {
      display: none;
    }
    .mobile {
      display: none;
    }
  }

div.tree {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  display: inline;
}
div.tree ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  overflow: hidden;
}
div.tree li {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 20px;
}
div.tree li .expanded {
  padding: 1px 10px;
  background: url("http://icons.iconarchive.com/icons/icons8/ios7/16/Arrows-Down-4-icon.png") no-repeat;
}
div.tree li .collapsed {
  padding: 1px 10px;
  background: url("http://icons.iconarchive.com/icons/icons8/ios7/16/Arrows-Forward-icon.png") no-repeat;
}
div.tree li .leaf {
  padding: 1px 10px;
  background: url("http://icons.iconarchive.com/icons/icons8/windows-8/16/Gaming-Diamonds-icon.png") no-repeat;
}
div.tree li i, div.tree li span {
  cursor: pointer;
}
.selectedNode {
  color: white;
background: navy;
}
/*-----------------------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------- FORMULAIRE ------------------------------------------------------------*/
.chipsdemoContactChips md-content.autocomplete {
  min-height: 250px; 
  background-color : #eb692e;}
  .chipsdemoContactChips md-content.autocomplete input {
    min-width: 400px; }

.chipsdemoContactChips .md-item-text.compact {
  padding-top: 8px;
  padding-bottom: 8px; }

.chipsdemoContactChips .contact-item {
  box-sizing: border-box; }
  .chipsdemoContactChips .contact-item.selected {
    opacity: 0.5; }
    .chipsdemoContactChips .contact-item.selected h3 {
      opacity: 0.5; }
  .chipsdemoContactChips .contact-item .md-list-item-text {
    padding: 14px 0;
    max-width: 190px; }
    .chipsdemoContactChips .contact-item .md-list-item-text h3 {
      margin: 0 !important;
      padding: 0;
      line-height: 1.2em !important; }
    .chipsdemoContactChips .contact-item .md-list-item-text h3, .chipsdemoContactChips .contact-item .md-list-item-text p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
  @media (min-width: 960px) {
    .chipsdemoContactChips .contact-item {
      float: left;
      width: 33%; } }

.chipsdemoContactChips md-contact-chips {
  margin-bottom: 10px; }

.chipsdemoContactChips .md-chips {
  padding: 5px 0 8px; }

.chipsdemoContactChips .fixedRows {
  height: 250px;
  overflow: hidden; }
/*----------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------PAGE COMPETENCES------------------------------------------------------------------*/
.navBardemoBasicUsage md-content{
  background: #f7f6c8;
}
.navBardemoBasicUsage md-content .ext-content {
  padding: 250px;
  margin: 50px;
  outline-style: solid;
  outline-color: #eb692e;
  background-color: #f7f6c8; }

  /*------------MENU INDEX-----------------*/
.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab { /*default color*/
  background-color: #eca758 !important; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused { /*color when focused*/
  background-color: #f7f6c8 !important; }

.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; 
}

.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: auto;
  min-height: auto;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto; 
  background-color: transparent;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------GRAPHE COMPETENCES--------------------------------------------------------------*/
#chart {
  text-align: center;
  width: auto;
  margin-top: 100px;
}
path {
  stroke: #fff;
}

h1, h4 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}


.back {
  background: #eca758;
}

md-chips md-chip {
  color: black;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
.crumbs {
  width: 100%;
  height: 50px;
  font: 16px Montserrat, sans-serif;
  font-size: 20px;
  align-self: flex-start;
  background: #f7f6c8;
}
.crumbs .crumb {
  position: relative;
  display: inline-block;
  padding: 1em;
  
}
.crumbs .crumb:not(:last-of-type):before {
  content: '';
  display: block;
  position: absolute;
  border-top: 5px solid transparent;
  border-left: 10px solid #eb692e;
  border-bottom: 5px solid transparent;
  top: 25px;
  right: -5px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #f7f6c8;
}
.container .chart {
  width: 500px;
  height: 500px;
  align-self: center;
}

/*********************
 SVG Elements styling 
*********************/
svg text {
  text-anchor: middle;
}

.ark {
  fill-rule: evenodd;
  cursor: pointer;
}
.ark.-depth-0 {
  fill: white;
}

.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }
/*-----------------------------------------------------------------------------------------------------------------*/