<!DOCTYPE html>
<html>
<head>
    <!--CSS Files-->
    <!--Add all CSS files you use-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/scripts/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/scripts/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="/index/index.css">


    <!--Angular scripts-->
    <!--Add all JS packages you use-->
    <script src="/scripts/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/scripts/angular/angular.min.js"></script>
    <script src="/scripts/ng-scrollbars/dist/scrollbars.min.js"></script>
    <script src="/scripts/angular-animate/angular-animate.min.js"></script>
    <script src="/scripts/angular-aria/angular-aria.min.js"></script>
    <script src="/scripts/angular-material/angular-material.min.js"></script>
    <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/scripts/angular-messages/angular-messages.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>



</head>


<body ng-controller="IndexController" ng-app="AngularGen" ng-cloak>
<!--Left Toolbar-->
<div layout="row" style="height:100%;">
    <div layout="column" flex>
      
      <!--div flex ="10" id="pink">
        <div layout="row">
            Accueil
            <div flex="70">
            </div>
            <div flex="30">
                <div flex="100" layout="row" layout-align="start center">
                    <md-input-container flex="20">
                        <label>Recherche</label>
                        <input type="text" name="Recherche" ng-model="recherche">
                    </md-input-container>
                    <md-input-container flex="20">
                        <md-button ng-click="search()">
                            <i class="material-icons">search</i>
                        </md-button>
                    </md-input-container>
                    <md-button ng-click="openAdvanced()">recherche avancée</md-button>
                </div>
            </div>
        </div>
      </div-->
      <!--div flex="90"--> 
              <md-toolbar class="desktop" id='pink'>
                <div class="md-toolbar-tools">
                    <h2>
                      <span>Accueil</span>
                    </h2>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Search"  ng-click="search()" >
                        <md-tooltip>Rechercher</md-tooltip>
                        <md-icon class="material-icons">&#xE8B6;</md-icon>
                    </md-button>
                    <md-input-container md-no-float class="md-accent" style="padding-bottom:0px; padding-top: 25px;">
                        <input ng-model="recherche" placeholder="Recherche" style="color:wheat;">
                    </md-input-container>
                    <!--md-input-container  style="position: absolute; right: 0;">
                        <label>Recherche</label>
                        <input type="text" name="Recherche" ng-model="recherche" >
                    </md-input-container-->
                    
                    <!--md-input-container  style="position: absolute; right: 0;">
                        <md-button ng-click="search()">
                            <i class="material-icons">search</i>
                        </md-button>
                    </md-input-container-->
                   
                </div>
                </md-toolbar>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="left" id="white">
    <md-toolbar layout="row" id="pink">
      <div class="md-toolbar-tools">
        <h2>
      <span>Menu</span>
    </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
          <md-tooltip>Fermer</md-tooltip>
          <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout-padding="" id="white">
     Arborescence
    <oci.treeview tree="treeData"  on-select-node="getMoreData">
      <span>{{tree.label}}</span>
    </oci.treeview>         
    </md-content>
  </md-sidenav>

  <md-toolbar class="desktop" id="pink">
    <div class="md-toolbar-tools">
        <div layout="column" class="fabSpeedDialdemoBasicUsage">
          <md-content class="md-padding" >
            <div class="lock-size" layout="row" layout-align="left left">
              <md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}" ng-class="selectedMode">
                <md-fab-trigger>
                  <md-button aria-label="menu" class="md-fab md-warn">
                    <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
                    <md-tooltip md-direction="right">Menu</md-tooltip>
                  </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                  <md-button aria-label="Graphe" class="md-fab md-raised md-mini" ng-click="openGraph()">
                    <md-icon class="md-default-theme" class="material-icons">&#xE80D;</md-icon>
                    <md-tooltip md-direction="right">Graphe des Compétences</md-tooltip>
                  </md-button>
                  <md-button aria-label="Formulaire" class="md-fab md-raised md-mini" ng-click="openFormulaire()">
                    <md-icon class="md-default-theme" class="material-icons">&#xE3C9;</md-icon>
                    <md-tooltip md-direction="right">Formulaire</md-tooltip>
                  </md-button>
                </md-fab-actions>
              </md-fab-speed-dial>
            </div>
          </md-content>
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="left">
        </div>    
        <h2>
            <span >{{currentPage}}</span>
        </h2>
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()" style="position: absolute; right: 0;">
            <md-tooltip>Arborescence</md-tooltip>
            <md-icon class="md-default-theme" class="material-icons">&#xE241;</md-icon>
        </md-button>
        <span></span>
    </div>
  </md-toolbar>
    <div ui-view = ""></div>
</div>


</body>


<script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    angular.module('AngularGen', ['ngMaterial']);
</script>

<!--Route-->
<!--Add route file-->
<script src="routes.js" type="text/javascript"></script>

<!--Controllers-->
<!--Add controllers files-->
<script src="index/index.js" type="text/javascript"></script>
<script src="test/TestController.js" type="text/javascript"></script>
<script src="search/SearchController.js" type="text/javascript"></script>
<script src="graph/GraphController.js" type="text/javascript"></script>
<script src="advanced-search/Advanced-searchController.js" type="text/javascript"></script>
<script src="formulaire/FormulaireController.js" type="text/javascript"></script>
<script src="formulaireSummary/FormulaireSummaryController.js" type="text/javascript"></script>
<script src="connexion/ConnexionController.js" type="text/javascript"></script>
<script src="graph/comp-detail/Comp-detailController.js" type="text/javascript"></script>


</html>

