<!DOCTYPE html>
<html>
<head>
    <title>Angular Generator</title>

    <!--CSS Files-->
    <!--Add all CSS files you use-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/scripts/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/scripts/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">


    <!--Angular scripts-->
    <!--Add all JS packages you use-->
    <script src="/scripts/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/scripts/angular/angular.min.js"></script>
    <script src="/scripts/ng-scrollbars/dist/scrollbars.min.js"></script>
    <script src="/scripts/angular-animate/angular-animate.min.js"></script>
    <script src="/scripts/angular-aria/angular-aria.min.js"></script>
    <script src="/scripts/angular-material/angular-material.min.js"></script>
    <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/scripts/angular-messages/angular-messages.min.js"></script>




</head>
<body ng-controller="IndexController" ng-app="AngularGen" ng-cloak>
<!--Left Toolbar-->

    Hello world !

    <div ui-view="">

    </div>

</body>

<!--Route-->
<!--Add route file-->
<script src="routes.js" type="text/javascript"></script>

<!--Controllers-->
<!--Add controllers files-->
<script src="index/index.js" type="text/javascript"></script>
<script src="home/HomeController.js" type="text/javascript"></script>
<script src="test/TestController.js" type="text/javascript"></script>


</html>

