<!DOCTYPE html>
<html>
<head>
    <!--CSS Files-->
    <!--Add all CSS files you use-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/scripts/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/scripts/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="/index/index.css">

    <!--Angular scripts-->
    <!--Add all JS packages you use-->
    <script src="/scripts/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/scripts/angular/angular.min.js"></script>
    <script src="/scripts/ng-scrollbars/dist/scrollbars.min.js"></script>
    <script src="/scripts/angular-animate/angular-animate.min.js"></script>
    <script src="/scripts/angular-aria/angular-aria.min.js"></script>
    <script src="/scripts/angular-material/angular-material.min.js"></script>
    <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/scripts/angular-messages/angular-messages.min.js"></script>

</head>


<body ng-controller="IndexController" ng-app="AngularGen" ng-cloak>
<!--Left Toolbar-->
<div layout="row" style="height:100%;">
    <div layout="column" flex>
      
      <div flex ="10" id="pink">
        Accueil
        <div layout="row">
            <div flex="70"></div>
            <div flex="30">
                <!--div layout="row">
                    <div flex="40"></div>
                    <div flex="40"> 
                        <input ng-model="recherche" side = "right"><br>
                        <md-button ng-click="openAdvanced()">recherche avancée</md-button>
                    </div>
                    <div flex="20">
                        <md-button ng-click="search()">
                            <i class="material-icons">search</i>
                        </md-button>
                    </div>
                </div-->
                <div flex="100" layout="row" layout-align="start center">
                    <md-input-container flex="20">
                        <label>Recherche</label>
                        <input type="text" name="Recherche" ng-model="recherche">
                    </md-input-container>
                    <md-input-container flex="20">
                        <md-button ng-click="search()">
                            <i class="material-icons">search</i>
                        </md-button>
                    </md-input-container>
                    <md-button ng-click="openAdvanced()">recherche avancée</md-button>
                </div>
            </div>
        </div>
      </div>
      <div flex="90"> 
            <div layout ="row" style="height:100%;">
                <div flex="10" id = "blue">
                    Menu
                    <br>
                    <md-button ng-click="openGraph()">
                    Graph
                    </md-button>
                    <md-button ng-click="openFormulaire()">
                    Formulaire
                    </md-button>
                </div>
                <div flex="90" id = "white">
                    <div ui-view = ""></div>
                </div>
            </div>
      </div>
    </div>
</div>


</body>
<!--Route-->
<!--Add route file-->
<script src="routes.js" type="text/javascript"></script>

<!--Controllers-->
<!--Add controllers files-->
<script src="index/index.js" type="text/javascript"></script>
<script src="test/TestController.js" type="text/javascript"></script>
<script src="search/SearchController.js" type="text/javascript"></script>
<script src="graph/GraphController.js" type="text/javascript"></script>
<script src="advanced-search/Advanced-searchController.js" type="text/javascript"></script>
<script src="formulaire/FormulaireController.js" type="text/javascript"></script>

</html>

